---
import { getCollection } from 'astro:content';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import Layout from '~/components/layouts/Post.astro';
import Tag from '~/components/shared/Tag.astro';
import Footer from '~/features/footer/Footer.astro';
import Navigation from '~/features/navigation/Navigation.astro';
import Title from '~/features/title/Title.astro';

export const getStaticPaths = (async () =>
    (await getCollection('posts')).map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }))) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;
const { title, published, updated, tags } = post.data;
const { Content } = await post.render();

const dateClasses = 'metadata py-2 font-code';
---

<Layout {...{ title }}>
    <Navigation slot="nav" />
    <Title slot="title">
        {title}
    </Title>
    <div slot="meta" class="my-4 flex flex-wrap gap-3">
        <div class={dateClasses}>
            {published.toISOString().substring(0, 10)}
        </div>
        {
            updated && (
                <div class={dateClasses}>
                    ↻{updated.toISOString().substring(0, 10)}
                </div>
            )
        }
        {tags.map((tag) => <Tag href={`/tags/${tag}`}>#{tag}</Tag>)}
    </div>
    <Content slot="content" />
    <Footer slot="footer" />
</Layout>
