---
import { Icon } from 'astro-icon/components';
// NOTE: import from ~/fetcheres.ts as Cards type cannot be exported
import type { Cards } from '../../fetchers';

type Props = { cards: Cards };

const { cards } = Astro.props;
---

<main class="flex flex-col gap-4 md:gap-6">
    {
        cards.map(({ tags, published, updated, href, title }) => (
            <a
                href={href}
                class:list={[
                    "rounded-2xl border-2 border-transparent bg-white px-5 py-2 sm:py-4 sm:px-6",
                    "dark:bg-midnight-express",
                    "hover-element",
                ]}
            >
                <article>
                    <div class="flex max-sm:flex-col sm:items-center">
                        <div class="flex flex-wrap gap-3">
                            <div class="metadata">{published}</div>
                            {updated && (
                                <div class="metadata">
                                    <Icon
                                        name="line-md:rotate-270"
                                        class="inline pb-[2px]"
                                    />
                                    <span class="ml-[-10px]">{updated}</span>
                                </div>
                            )}
                            {tags.length > 0 &&
                                tags.map((tag) => (
                                    <div class="metadata">
                                        <Icon
                                            name="line-md:hash-small"
                                            class="inline pb-[1px]"
                                        />
                                        <span class="ml-[-10px]">{tag}</span>
                                    </div>
                                ))}
                        </div>
                    </div>
                    <h2 class="py-1.5 text-xl xl:text-2xl">{title}</h2>
                </article>
            </a>
        ))
    }
</main>
