---
import Footer from '~/features/footer/Footer.astro';
import List from '~/features/list/List.astro';
import Navigation from '~/features/navigation/Navigation.astro';
import TagList from '~/features/tag-list/TagList.astro';
import Title from '~/features/title/Title.astro';
import Layout from '~/layouts/list/Layout.astro';
import type { Params, Props } from './_static';
export { getStaticPaths } from './_static';

const { tag } = Astro.params as Params;
// NOTE: use assert to suppress errors from `astro check`
const { posts, taggedPosts } = Astro.props as Props;

const baseUrl = new URL(Astro.url.pathname, Astro.site);
const ogUrl = new URL(`${Astro.url.pathname}/og.png`, baseUrl);
---

<Layout>
    <Fragment slot="head">
        <title>{`#${tag}`}</title>
        <meta name="description" content={`#${tag}の記事一覧`} />
        <meta property="og:title" content={`#${tag}`} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={baseUrl.toString()} />
        <meta property="og:image" content={ogUrl.toString()} />
        <meta property="og:image:alt" content={`#${tag}`} />
        <meta property="og:image:url" content={ogUrl.toString()} />
    </Fragment>
    <Navigation slot="nav" />
    <TagList slot="tags" {...{ posts }} />
    <Title slot="title">
        #{tag}
    </Title>
    <List slot="list" posts={taggedPosts} />
    <Footer slot="footer" />
</Layout>
