---
import '@fontsource/jetbrains-mono';
import '@fontsource/zen-kaku-gothic-new/700.css';
import Tag from '~/components/shared/Tag.astro';
import Layout from './Layout.astro';
import Footer from '../features/Footer.astro';
import Icon from '../features/Icon.astro';

type Props = {
    title: string;
    published: string;
    updated: string | null;
    tags: string[];
    children: any;
};

const { published, tags, title, updated } = Astro.props;
---

<Layout {title}>
    <div class="col-start-1 pt-6 max-md:col-span-12 md:max-lg:col-start-2">
        <a class="flex md:justify-end" href="/">
            <div class="md:fixed">
                <Icon />
            </div>
        </a>
    </div>
    <div
        class="col-span-12 md:col-span-8 md:col-start-3 lg:col-span-10 lg:col-start-2"
    >
        <h1
            class="text-3xl before:text-maldives before:content-['#_'] sm:text-4xl md:mt-12"
        >
            {title}
        </h1>
        <div class="mb-12 mt-4 flex flex-wrap gap-3">
            <div class="metadata py-2">{published}</div>
            {updated && <div class="metadata py-2">↻{updated}</div>}
            {tags.map((tag) => <Tag href={`/tags/${tag}`}>{tag}</Tag>)}
        </div>
        <div class="blog">
            <slot />
        </div>
        <div class="mt-6 pb-6">
            <Footer />
        </div>
    </div>
</Layout>
<style is:global>
    .astro-code, .astro-code span {
        background-color: theme('colors.white') !important;
    }

    html.dark {
        .astro-code, .astro-code span {
            color: var(--shiki-dark) !important;
            background-color: theme('colors.midnight-express') !important;
        }
    }

    .blog {
        @apply sm:text-lg;

        p {
            @apply my-4 rounded-2xl bg-white p-4 dark:bg-midnight-express;
        }

        a {
            /* TODO: なぜか`.link`ユーティリティクラスが読めない */
            /* @apply link; */
            @apply text-maldives decoration-2 underline-offset-2 hover:underline;
        }

        em {
            @apply px-1;
        }

        blockquote {
            @apply border-l-4 border-spiced-nectarine pl-6;
        }

        /* --------------------------------- header --------------------------------- */
        h2,
        h3,
        h4,
        h5 {
            @apply mt-10 after:text-maldives sm:mt-16;
        }

        h2 {
            @apply text-2xl hover:after:content-["_##"] sm:text-3xl;
        }

        h3 {
            @apply text-xl hover:after:content-["_###"] sm:text-2xl;
        }

        h4 {
            @apply text-lg hover:after:content-["_####"] sm:text-xl;
        }

        h5 {
            @apply hover:after:content-["_#####"];
        }

        /* header要素が連続する場合の余白調整 */
        :is(h2 + h3, h3 + h4, h4 + h5) {
            @apply mt-4;
        }

        /* ---------------------------------- list ---------------------------------- */
        :is(ul, ol) {
            @apply list-inside py-4;
        }

        ul {
            @apply list-disc;
        }

        ol {
            @apply list-decimal;
        }

        /* list要素内でのインデント */
        :is(ul ul, ol ol) {
            @apply ml-7 py-0;
        }

        /* ---------------------------------- code ---------------------------------- */
        code {
            @apply font-code;

            /* inline */
            &:not(pre > *) {
                @apply mx-1 rounded-md bg-bellflower-blue px-1 text-base dark:bg-black-knight;
            }
        }

        /* block */
        pre {
            @apply my-4 rounded-2xl p-4 text-base;
        }

        /* filename */
        .remark-code-title {
            /* SEE: https://github.com/material-theme/vsc-material-theme/blob/main/scripts/generator/settings/specific/default.ts */
            @apply -mb-3 font-code text-base text-[#263238] dark:text-[#546E7A];
        }
    }
</style>
