---
import '@fontsource/biz-udgothic/japanese-400.css';
import '@fontsource/jetbrains-mono/latin-400.css';
import '@fontsource/nunito-sans/latin-400-italic.css';
import '@fontsource/nunito-sans/latin-700.css';
import '@fontsource/zen-kaku-gothic-new/japanese-700.css';
import { Tag as TagComponent } from '~/components/base/Tag';
import Layout from './Layout.astro';
import type { FirstThreeSentences, Published, Title, Updated } from '~/domain/values/post';
import type { Tags } from '~/domain/values/tags';
import { Metadata } from '../base/Metadata';
import Footer from '../features/Footer.astro';

type Props = {
    title: Title;
    firstThreeSentences: FirstThreeSentences;
    published: Published;
    updated: Updated;
    tags: Tags;
};

const { firstThreeSentences, published, tags, title, updated } = Astro.props;
---

<Layout {title} description={firstThreeSentences}>
    <div class="col-start-1 pt-6 max-md:col-span-12 md:max-lg:col-start-2">
        <a class="flex md:justify-end" href="/">
            <div class="md:fixed">
                <img src="/icon.png" alt="tsukiyo icon" class="w-14 xl:w-20" />
            </div>
        </a>
    </div>
    <div class="col-span-12 md:col-span-8 md:col-start-3 lg:col-span-10 lg:col-start-2">
        <div class="mb-2 flex flex-wrap gap-3 md:pt-6">
            <Metadata type="text" text={published} />
            {updated && <Metadata type="text" text={`↻ ${updated}`} />}
            {tags.map((tag) => <TagComponent name={tag} />)}
        </div>
        <div class="blog">
            <slot />
        </div>
        <div class="mt-6 pb-6">
            <Footer />
        </div>
    </div>
</Layout>
<style is:global>
    .blog {
        @apply sm:text-lg;

        p {
            @apply my-4 rounded-2xl bg-white p-4 dark:bg-gray-800;
        }

        a {
            /* TODO: なぜか`.link`ユーティリティクラスが読めない */
            /* @apply link; */
            @apply text-cyan-500 decoration-2 underline-offset-2 hover:underline;
        }

        em {
            @apply px-1;
        }

        blockquote {
            @apply border-l-4 border-tertiary pl-6;
        }

        /* --------------------------------- header --------------------------------- */
        h1 {
            @apply mb-16 text-3xl before:text-cyan-500 before:content-['#_'] sm:mb-20 sm:text-4xl;
        }

        :is(h2, h3, h4, h5) {
            @apply mt-10 after:text-cyan-500 sm:mt-16;
        }

        h2 {
            @apply text-2xl hover:after:content-["_##"] sm:text-3xl;
        }

        h3 {
            @apply text-xl hover:after:content-["_###"] sm:text-2xl;
        }

        h4 {
            @apply text-lg hover:after:content-["_####"] sm:text-xl;
        }

        h5 {
            @apply hover:after:content-["_#####"];
        }

        /* header要素が連続する場合の余白調整 */
        :is(h2 + h3, h3 + h4, h4 + h5) {
            @apply mt-4;
        }

        /* ---------------------------------- list ---------------------------------- */
        :is(ul, ol) {
            @apply list-inside py-4;
        }

        ul {
            @apply list-disc;
        }

        ol {
            @apply list-decimal;
        }

        /* list要素内でのインデント */
        :is(ul ul, ol ol) {
            @apply ml-7 py-0;
        }

        /* ---------------------------------- code ---------------------------------- */
        code {
            @apply font-code;

            /* inline */
            &:not(pre > *) {
                @apply mx-1 rounded-md bg-slate-200 px-1 text-base dark:bg-gray-950;
            }
        }

        /* block */
        pre {
            @apply my-4 rounded-2xl p-4 text-base;
        }

        /* filename */
        .remark-code-title {
            @apply -mb-3 font-code text-base text-[#82AAFF];
        }
    }
</style>
