---
import '@fontsource/nunito-sans';
import '@fontsource/zen-kaku-gothic-new';
import Footer from '~/components/features/Footer.astro';
import Header, { type Props as HeaderProps } from '~/components/features/Header.astro';
import { PAGE_DESCRIPTION, PAGE_TITLE } from '~/utils/constants';
import '~/styles/global.css';

const pageTitle = (text: string): string => `${text} | ${PAGE_TITLE}`;

type Props = {
    title?: string;
    description?: string;
    isTop?: boolean;
};
const { description = PAGE_DESCRIPTION, isTop = false, title } = Astro.props;
const headerProps: HeaderProps = { isH1: isTop };

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title ? pageTitle(title) : PAGE_TITLE}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL} />
        <slot name="head" />
    </head>
    <body>
        <div class="mx-auto px-5 xl:container sm:px-8">
            <div class="py-8">
                <Header {...headerProps} />
            </div>
            <slot />
            <Footer />
        </div>
    </body>
</html>
