---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/zen-kaku-gothic-new';
import '~/styles/global.css';
import { PAGE_DESCRIPTION, PAGE_TITLE } from '~/utils/constants';

export type Props = {
    title?: string | undefined;
    description?: string | undefined;
    children: unknown;
};

const { description = PAGE_DESCRIPTION, title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/icon.webp" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title ? `${title} | ${PAGE_TITLE}` : PAGE_TITLE}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL} />
        <ViewTransitions />
    </head>
    <body>
        <slot />
    </body>
</html>
