---
import '@fontsource/nunito-sans';
import '@fontsource/zen-kaku-gothic-new';
import { PAGE_DESCRIPTION, PAGE_TITLE } from '~/utils/constants';
import '~/styles/global.css';

const pageTitle = (text: string): string => `${text} | ${PAGE_TITLE}`;

type Props = {
    title?: string;
    description?: string;
};
const { description = PAGE_DESCRIPTION, title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title ? pageTitle(title) : PAGE_TITLE}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL} />
        <slot name="head" />
    </head>
    <body>
        <div class="mx-auto grid h-screen max-w-7xl grid-cols-12 gap-6 px-5 md:px-8">
            <slot />
        </div>
    </body>
</html>
