---
import Layout from "./Layout.astro";
import "@fontsource/biz-udgothic/400.css";
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/nunito-sans/700.css";
import "@fontsource/zen-kaku-gothic-new/700.css";
import { PAGE_TITLE } from "~/constants";
import type { Frontmatter } from "~/types";
import { embedCreated, embedUpdated } from "~/utils/dateToString";
import { toStr } from "~/utils/tagArrayToString";

type Props = {
    frontmatter: Frontmatter;
};
const {
    frontmatter: { title, tags, description, createdAt, updatedAt },
} = Astro.props;

const created = embedCreated(createdAt);
const updated = updatedAt ? embedUpdated(updatedAt) : null;
const tagStr = tags?.length ? toStr(tags) : null;
---

<Layout title={`${title} | ${PAGE_TITLE}`} description={description}>
    <div class="text-foreground/50">
        <span class="block text-sm sm:text-base">{created}</span>
        {updated && <span class="block text-sm sm:text-base">{updated}</span>}
        {tagStr && <span class="block text-sm sm:text-base">{tagStr}</span>}
    </div>
    <div class="blog">
        <slot />
    </div>
</Layout>
<style is:global>
    .blog {
        @apply sm:text-lg;

        p {
            @apply py-4;
        }

        a {
            @apply text-secondary decoration-2 underline-offset-4 hover:underline;
        }

        em {
            @apply px-1;
        }

        blockquote {
            @apply border-l-4 border-tertiary pl-6;
        }

        /* --------------------------------- header --------------------------------- */
        h1 {
            @apply mb-4 text-3xl leading-relaxed text-primary underline decoration-tertiary decoration-2 underline-offset-8 sm:text-4xl;
        }

        :is(h2, h3, h4, h5) {
            @apply border-b border-dashed border-primary pb-3 pt-12 after:text-foreground/50 sm:pt-[72px];
        }

        h2 {
            @apply text-2xl hover:after:content-["_##"] sm:text-3xl;
        }

        h3 {
            @apply text-xl hover:after:content-["_###"] sm:text-2xl;
        }

        h4 {
            @apply text-lg hover:after:content-["_####"] sm:text-xl;
        }

        h5 {
            @apply hover:after:content-["_#####"];
        }

        /* header要素が連続する場合の余白調整 */
        :is(h2 + h3, h3 + h4, h4 + h5) {
            @apply pt-3;
        }

        /* ---------------------------------- list ---------------------------------- */
        :is(ul, ol) {
            @apply ml-6 py-4;
        }

        ul {
            @apply list-disc;
        }

        ol {
            @apply list-decimal;
        }

        /* list要素内でのインデント */
        :is(ul ul, ol ol) {
            @apply ml-7 py-0;
        }

        /* ---------------------------------- code ---------------------------------- */
        code {
            @apply font-code;

            /* inline */
            &:not(pre > *) {
                @apply mx-1 rounded-md bg-shadow/40 px-1 text-base text-foreground/60;
            }
        }

        /* block */
        pre {
            @apply my-4 rounded-xl border border-dashed border-tertiary p-4 text-base;
        }
    }
</style>
