---
import nunitoSans400 from '@fontsource/nunito-sans/files/nunito-sans-latin-400-normal.woff2';
import zenKakuGothicNew400 from '@fontsource/zen-kaku-gothic-new/files/zen-kaku-gothic-new-japanese-400-normal.woff2';
import Footer from '~/components/atoms/Footer.astro';
import Header, { type Props as HeaderProps } from '~/components/molecules/Header.astro';
import { PAGE_DESCRIPTION } from '~/constants';
import '~/styles/global.css';

type Props = {
    title: string;
    description?: string;
    isTop?: boolean;
};
const { description = PAGE_DESCRIPTION, isTop = false, title } = Astro.props;
const headerProps: HeaderProps = { isH1: isTop };

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta
            http-equiv="content-security-policy"
            content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src 'none';"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="preload"
            as="font"
            href={nunitoSans400}
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            as="font"
            href={zenKakuGothicNew400}
            type="font/woff2"
            crossorigin="anonymous"
        />

        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL} />
        <slot name="head" />
    </head>
    <body>
        <div class="mx-auto px-5 xl:container sm:px-8">
            <div class="py-8">
                <Header {...headerProps} />
            </div>
            <slot />
            <Footer />
        </div>
    </body>
</html>
